.notFoundReview {
  margin: 15px auto;
  padding: 5px 40px 50px;
  color: #02315E;
  border: 1px solid #2F70AF;
}

.item {
  border: 1px solid #806491;
  padding: 5px 15px;
}

.container {
  list-style: none;
  padding: 0;
  margin: 0;
}

.name {
  font-size: 18px;
  color: #02315E;
  font-weight: 500;
}