.searchForm {
  display: flex;
}

.input {
  display: inline-block;
  font: inherit;
  font-size: 20px;
  border: 1px solid #806491;
  outline: none;
  padding: 5px;
}

.input::placeholder {
  font: inherit;
  font-size: 18px;
}

.searchButton {
  display: inline-block;
  border: 0px;
  opacity: 0.5;
  transition: opacity 300ms cubic-bezier(.17, .67, .83, .67);
  cursor: pointer;
  padding: 5px 15px;
  outline: none;
}

.searchButton:hover {
  opacity: 1;
}